@import url(./navbar.css);
@import url(./slideshow.css);
// var
$lato: "Lato", sans-serif;

.white {
    color: white;
}

// code
html {
    overflow-x: clip !important;
}

* {
    font-family: $lato;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 0px;
}

.container {
    margin-top: 50px;
}

body {
    margin: 0;
    overflow-x: hidden;
}



.slideshowOverlay {
    height: 95vh;
    box-sizing: border-box;
}

#band {
    display: flex;
    justify-content: center;
}

.max-width {
    width: 800px;
    text-align: center;
    padding: 120px 26px;

    p {
        width: 100%;
    }

}

.title {
    font-size: 200%;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin: 0;
}

.info {
    text-align: justify;
}

.subtitle {
    font-style: italic;
    color: grey;
    margin: 20px 0 30px 0;
}

.band-mem {
    display: flex;
    justify-content: center;
    width: 100%;
}

.items {
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
        width: 60%;
        border-radius: 5px;
    }
}

#tour {
    background-color: black;
    display: flex;
    justify-content: center;
}

.tickets {
    width: 100%;
    background-color: white;
    list-style-type: none;
    text-align: start;
    padding: 0;

    li {
        padding: 10px 15px;
        position: relative;
        border-bottom: 1px solid rgb(216, 216, 216);
    }

    span {
        color: white;
        background-color: #f44336;
        padding: 1px 8px;
        margin-left: 16px;
    }

    .num {
        background: #000;
        border-radius: 100px;
        position: absolute;
        right: 0;
        margin-right: 30px;
    }
}

.card {
    display: flex;
    justify-content: space-between;
}

.card-items {
    background-color: #fff;
    text-align: start;
    margin: 10px;

    img {
        width: 100%;
    }
}

.card-content {
    margin: 10px 15px;
    position: relative;
}

.card-title {
    font-weight: bold;
}

.card-date {
    color: gray;
    margin: 0;
}

.fancy {
    background-color: transparent;
    border: 2px solid #000;
    border-radius: 0;
    box-sizing: border-box;
    color: #fff;
    display: inline-block;
    font-weight: 700;
    letter-spacing: 0.05em;
    margin: 0;
    outline: none;
    overflow: visible;
    padding: 1.25em 2em;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    transition: all 0.3s ease-in-out;
    user-select: none;
    font-size: 13px;
    transform: scale(70%) translateX(-35px);


    &::before {
        content: " ";
        width: 1.5625rem;
        height: 2px;
        background: black;
        top: 50%;
        left: 1.5em;
        position: absolute;
        transform: translateY(-50%);
        transform-origin: center;
        transition: background 0.3s linear, width 0.3s linear;
    }

    .text {
        font-size: 1.125em;
        line-height: 1.33333em;
        padding-left: 2em;
        display: block;
        text-align: left;
        transition: all 0.3s ease-in-out;
        text-transform: uppercase;
        text-decoration: none;
        color: black;
    }

    .top-key {
        height: 2px;
        width: 1.5625rem;
        top: -2px;
        left: 0.625rem;
        position: absolute;
        background: #e8e8e8;
        transition: width 0.5s ease-out, left 0.3s ease-out;

    }

    .bottom-key-1 {
        height: 2px;
        width: 1.5625rem;
        right: 1.875rem;
        bottom: -2px;
        position: absolute;
        background: #e8e8e8;
        transition: width 0.5s ease-out, right 0.3s ease-out;
    }

    .bottom-key-2 {
        height: 2px;
        width: 0.625rem;
        right: 0.625rem;
        bottom: -2px;
        position: absolute;
        background: #e8e8e8;
        transition: width 0.5s ease-out, right 0.3s ease-out;
    }

    &:hover {
        color: white;
        background: black;

        .text {
            color: white;
            padding-left: 1.5em;
        }

        .top-key {
            left: -2px;
            width: 0px;
        }

        .bottom-key-1,
        .bottom-key-2 {
            right: 0;
            width: 0;
        }
    }

    &:hover::before {
        width: 0.9375rem;
        background: white;
    }
}


@media screen and (max-width: 550px) {
    .band-mem {
        flex-wrap: wrap;
    }

    .max-width {
        width: 100%;
    }


}
@media screen and (max-width: 768px) {
    .card{
        flex-wrap: wrap;
    }
    .card-items{
        margin: 10px 0;
    }
}